.jobs-header {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.jobs-body {
    text-align: right;
    padding: 1rem;
}