<div class="main-background">
  <div class="flex page-centre">
    <div class="middle-bar">
      <h1 class="primary-font"style="font-family: 'Sora-ExtraBold';">Natalie Ross</h1>
      <h2 class="primary-font">Angular / C# Software Engineer & Technical Team Lead</h2>
    </div>
    <div class="lower-bar">
      <div class="middle-bar lower-sub-bar" [routerLink]="['/skills']">
        <h4 class="primary-font">Skills</h4>
      </div>
      <div class="middle-bar lower-sub-bar" [routerLink]="['/jobs']">
        <h4 class="primary-font">Job History</h4>
      </div>
    </div>
  </div>
</div>
